<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTHfDQBBcGc5IIE8uVlk_goNhHchyCQPA</string>
	<key>GCM_SENDER_ID</key>
	<string>413990728073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rightdevllc.Ai-Chat</string>
	<key>PROJECT_ID</key>
	<string>aiapp-d490a</string>
	<key>STORAGE_BUCKET</key>
	<string>aiapp-d490a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413990728073:ios:6f34dd1f1346e7497bf158</string>
</dict>
</plist>